
<div class="modal fade" id="UserDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <ng-container *ngIf="selectedUser === null; else updateTitleDiv">
        <div class="modal-header">
          <h3 class="modal-title">New User</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </ng-container>
      <ng-template #updateTitleDiv>
        <div class="modal-header">
          <h3 class="modal-title">Update User</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </ng-template>
      
      <div class="modal-body">
          <form [formGroup]="userForm" (ngSubmit)="submitUser()" autocomplete="off">
              <div class="form-group">
                  <label class="form-control-label" for="name"><strong>Name</strong></label>
                  <input 
                      type="text" 
                      class="form-control" 
                      formControlName="name"
                      placeholder="Name.."
                      [ngClass]="{'is-invalid': (userForm.get('name').invalid && (userForm.get('name').touched || userForm.get('name').dirty)), 'is-valid': userForm.get('name').valid}"
                  >
                  <div class="invalid-feedback" *ngIf="userForm.get('name').invalid && (userForm.get('name').touched || userForm.get('name').dirty) && userForm.get('name').getError('required')">Name is required</div>
                  <div class="invalid-feedback" *ngIf="userForm.get('name').invalid && (userForm.get('name').touched || userForm.get('name').dirty) && userForm.get('name').getError('minLength')">Name must have at least 3 characters</div>
              </div>
              
              <div class="form-group">
                  <label class="form-control-label" for="email"><strong>Email</strong></label>
                  <input 
                      type="text" 
                      placeholder="Email.." 
                      formControlName="email"
                      class="form-control" 
                      [ngClass]="{'is-invalid': (userForm.get('email').invalid && (userForm.get('email').touched || userForm.get('email').dirty)), 'is-valid': userForm.get('email').valid}"
                  >
                  <div 
                      class="invalid-feedback"
                      *ngIf="userForm.get('email').invalid 
                      && (userForm.get('email').touched 
                      || userForm.get('email').dirty) && userForm.get('email').getError('required')"
                  >
                      Email is required
                  </div>
                  <div 
                      class="invalid-feedback"
                      *ngIf="userForm.get('email').invalid 
                      && (userForm.get('email').touched 
                      || userForm.get('email').dirty) && userForm.get('email').getError('minLength')"
                  >
                      Email must have at least 12 characters
                  </div>
                  <div 
                      class="invalid-feedback"
                      *ngIf="userForm.get('email').invalid 
                      && (userForm.get('email').touched 
                      || userForm.get('email').dirty) && userForm.get('email').getError('email')"
                  >
                      This field must be a valid email address
                  </div>
              </div>

              <div class="form-group">
                  <label for="password"><strong>Password</strong></label>
                  <div class="input-group mb-3">
                      <input 
                          class="form-control" 
                          autocomplete="new-password"
                          placeholder="Password"
                          [type]="hide ? 'password' : 'text'" 
                          formControlName="password" 
                          required
                          [ngClass]="{'is-invalid': (userForm.get('password').invalid 
                          && (userForm.get('password').touched 
                          || userForm.get('password').dirty)), 'is-valid': userForm.get('password').valid}"
                      >
                      <div class="input-group-append">
                          <span 
                            class="input-group-text" 
                            role="button" 
                            (click)="hide = !hide"
                            [hidden]="showPasswordStatus"
                          >
                            <i class="fa" [ngClass]="{'fa-eye-slash': hide, 'fa-eye': !hide}"></i>
                          </span>
                      </div>
                      <div 
                          class="invalid-feedback"
                          *ngIf="userForm.get('password').invalid 
                          && (userForm.get('password').touched 
                          || userForm.get('password').dirty) && userForm.get('password').getError('required')"
                      >
                          Password is required
                      </div>
                      <div 
                          class="invalid-feedback"
                          *ngIf="userForm.get('password').invalid 
                          && (userForm.get('password').touched 
                          || userForm.get('password').dirty) && userForm.get('password').getError('minLength')"
                      >
                          Password must have at least 8 characters
                      </div>
                      <div 
                          class="invalid-feedback"
                          *ngIf="userForm.get('password').invalid 
                          && (userForm.get('password').touched 
                          || userForm.get('password').dirty) && userForm.get('password').getError('pattern')"
                      >
                          Password must be at least 8 characters. And has one digit character (0-9), one word character (alphanumeric or underscore), and different of LINE FEED character, and has at least one of special character !@#\$%\^&\* and at least one upper/lower character
                      </div>
                  </div>
                  <button 
                      type="button" 
                      class="btn btn-link"
                      (click)="(selectedUser === null && !showPasswordStatus) ? generatePassword() : confirmGeneratePassword()"
                  >   
                      Generate
                  </button>
              </div>

              <div class="form-group">
                  <label for="role"><strong>Role</strong></label>
                  <select class="custom-select" formControlName="role" required>
                      <option disabled>Choose user role</option>
                      <option value="1">Admin</option>
                      <option value="2">User</option>
                  </select>
                  <div 
                      class="invalid-feedback"
                      *ngIf="userForm.get('role').invalid 
                      && (userForm.get('role').touched 
                      || userForm.get('role').dirty) 
                      && userForm.get('role').getError('required')"
                  >
                      Role is required
                  </div>
              </div>

              <div class="form-group">
                  <label class="form-control-label" for="userImage">
                      <strong>User image</strong>
                  </label> <br>
                  <label class="btn btn-outline-success upload-btn">
                      <i class="fa fa-paperclip"></i>
                      <input 
                          formControlName="userImage" 
                          type="file" 
                          hidden
                          accept=".jpeg,.png,.jpg"
                          (change)="imageFileChanged($event)"
                      >
                  </label> <br>
                  <span class="text-muted" *ngIf="userForm.get('userImage').value !== null">
                      {{ userForm.get('userImage').value }}
                  </span>
              </div>
              <div class="modal-footer">
                  <ng-container *ngIf="selectedUser === null; else showUpdateButton">
                    <button 
                      class="btn btn-outline-primary"
                      [disabled]="userForm.invalid"
                    >
                      Create
                    </button>
                  </ng-container>
                  <ng-template #showUpdateButton>
                    <button 
                      class="btn btn-outline-primary"
                    >
                      Update
                    </button>
                  </ng-template>
                  
                  
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
