<mat-card class="card">
    <mat-card-header class="header">
        <h1 class="mat-h1">
            Arts
        </h1>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="container">
            <img class="bg-img" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Snow">
            <div class="bottom-left">Bottom Left</div>
            <div class="top-left">
                <mat-form-field class="example-full-width">
                    <input matInput value="Title of art">
                    <mat-hint class="location">Hint</mat-hint>
                </mat-form-field>
                
            </div>
            <div class="top-right">
                <div class="example-button-container">
                    <button class="btnEditArt" mat-mini-fab>
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="bottom-right">Bottom Right</div>
            <div class="centered">
                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
            </div>
        </div>        
    </mat-card-content>
</mat-card>