.card-body {
    text-align: left;
    padding: 5%;

}
.registerP {
    margin-top: 40px;
    font-size: 14px;
}

.registerA {
    text-decoration: none;
    color: #0984e3;
}
.loginForm {
    margin-top: 20px;
}
small {
    color: red !important; 
    padding: 2%;
}