<div class="row mx-auto my-4">
    <div class="col-md-12 text-right">
        <button 
            type="button" 
            class="btn btn-outline-primary btn-sm" 
            data-toggle="modal" 
            data-target="#UserDialog"
        >
            <i class="fa fa-plus"></i> Add
        </button>
    </div>
</div>
<div class="row mx-auto my-4">
    <div class="col-md-3 my-2" *ngFor="let user of users">
        <div class="card mb-3">
            <img [src]="user.image.length !== 0 ? user.image : '/assets/no-image.jpg'" class="card-img-top" [alt]="user.name">
            <div class="card-body">
                <h5 class="card-title">{{ user.name }}</h5>
                <p class="card-text"> {{ user.email }} </p>
                <p class="card-text">
                    {{ user.contributions }} <small class="text-muted"> Contributions</small>
                    <cite class="text-muted d-flex mt-2"> {{ user.role.name }} </cite>
                </p>
                <div class="text-right">
                    <a 
                        role="button" 
                        class="card-link"
                        (click)="selectedUser = user"
                        data-toggle="modal" 
                        data-target="#UserDialog"
                    >
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                    <a 
                        role="button" 
                        class="card-link text-red"
                        (click)="deleteUser(user._id)"
                        *ngIf="user.role.id !== 1"
                    >
                        <i class="fa fa-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal [selectedUser]="selectedUser" (modalUser)="persistUserData($event)"></app-modal>