.card  {
    transition: transform .1s, filter .1s ease-in-out;
    filter: scale(100%);
    opacity: 0.7;
}
  
.card:hover {
    /* filter: scale(0); */
    /* transform: scale(1.01); */
    border-color: #03a9f4;
    cursor: pointer;
    opacity: 1;
}

.text-red {
    color: red;
}